    ul {
        background: rgba(67, 67, 67, 0.7);
    }
    
    .warning::before {
        content: "\26A0\A0";
        color: red;
        font-size: x-large;
    }
    
    .warning {
        vertical-align: middle;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    
    body {
        background-color: #333333;
        background-image: url("https://cdn.pixabay.com/photo/2019/12/02/10/51/christmas-card-4667445_1280.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    ul#cedric>a:first-child {
        color: white;
        text-shadow: 2px 2px 3px blue, 0px 0px 9px blue, 0px 0px 15px blue, 0px 0px 21px blue, 0px 0px 27px blue;
        padding: 0.2em 0.2em 0.2em 0;
    }
    
    ul#adeux>a:first-child {
        color: white;
        text-shadow: 2px 2px 3px blue, 0px 0px 9px blue, 0px 0px 15px blue, 0px 0px 21px blue, 0px 0px 27px blue;
        padding: 0.2em 0.2em 0.2em 0;
    }
    
    ul#futur>a:first-child {
        color: white;
        text-shadow: 2px 2px 3px green, 0px 0px 9px green, 0px 0px 15px green, 0px 0px 21px green, 0px 0px 27px green;
        padding: 0.2em 0.2em 0.2em 0;
    }
    
    ul#loriane>a:first-child {
        color: white;
        padding: 0.2em 0.2em 0.2em 0;
        text-shadow: 2px 2px 3px orange, 0px 0px 9px orange, 0px 0px 15px orange, 0px 0px 21px orange, 0px 0px 27px orange, 0px 0px 33px orange, 0px 0px 39px orange, 0px 0px 45px orange, 0px 0px 51px orange, 0px 0px 57px orange, 0px 0px 63px orange;
    }
    
    .comment {
        color: white;
        padding: 0.5em;
        vertical-align: middle;
        background-color: #333333;
        text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
    }
    
    .noel {
        color: white;
        text-align: center;
        margin: auto;
        padding: 0.5em;
        vertical-align: middle;
        width: 5%;
        text-shadow: 0px 0px 6px blue, 0px 0px 12px blue, 0px 0px 18px blue, 0px 0px 24px blue, 0px 0px 30px blue, 0px 0px 36px blue, 0px 0px 42px blue;
    }
    
    .liste {
        list-style: none;
        text-indent: 4em;
        margin-top: 0.3em;
    }
    
    .liste>a {
        display: inline-block;
        width: 10em!important;
        text-indent: 0%;
        justify-content: center;
        vertical-align: middle;
        font-style: italic;
        text-decoration: none;
        color: white;
        background: #333333;
        border-radius: 25px;
        padding: 0.5em;
        text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
    }
    
    li .comment {
        visibility: hidden;
    }
    
    li:hover .comment {
        visibility: visible;
    }
